.nostalgia {
    font-family: 'Comic Sans MS', cursive !important;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-light.png') !important;
    background-repeat: repeat !important;
    color: #ff00ff !important;
  }  
